<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyIdeas</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'posts:create' %}">아이디어 등록</a>
      <a href="{% url 'posts:home' %}">아이디어 관리</a>
      <a href="{% url 'posts:tool_create' %}">개발툴 등록</a>
      <a href="{% url 'posts:tool_list' %}">개발툴 관리</a>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
