{% extends "base.html" %} {% block content %}
<article>
  {% if post.image %}
  <p>
    <img src="{{ post.image.url }}" style="width: 50px; height: 50px" />
  </p>
  {% endif %}
  <h2>{{ post.title }}</h2>
  <p>1) 아이디어 관심도</p>
  {{post.interest}}
  <p>2) 예상 개발툴</p>
  <a href="{% url 'posts:tool_detail' post.devtool_id %}">
    {{post.devtool.name}}
  </a>
  <p>3) 아이디어 설명</p>
  {{post.content}}
</article>

<div>
  <form action="{% url 'posts:delete' post.id %}" method="post">
    {% csrf_token %}
    <button>삭제</button>
  </form>
  <form action="{% url 'posts:home' %}" method="post">
    {% csrf_token %}
    <button>목록</button>
  </form>
  <form action="{% url 'posts:update' post.id %}" method="get">
    {% csrf_token %}
    <button>수정</button>
  </form>
</div>
{% endblock %}
