body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 72px;
  background-color: rgb(43, 49, 55);
}

nav {
  font-size: 16px;
  text-decoration: none;
}
nav a {
  text-decoration: none;
}

#nav-menu1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-menu1 ul li {
  display: inline-block;
  padding-left: 35px;
  padding-top: 20px;
}

#nav-menu1 img {
  display: inline-block;
  width: 30px;
  position: absolute;
  top: 15px;
}
#nav-menu1 a {
  color: white;
}

#nav-menu2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 100px;
}

#nav-menu2 input {
  border-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#nav-menu2 a {
  color: white;
}
#signup {
  padding: 5px;
  border: 1px solid;
  border-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
main {
  background-color: rgb(43, 49, 55);
  width: 100%;
  height: 600px;
}

#main-phrase {
  display: inline-block;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 160px;
  left: 190px;
}

#main-vision {
  color: white;
  font-size: 80px;
  line-height: 1em;
}

#main-vision p {
  margin: 0;
}

#main-description {
  color: rgb(170, 173, 175);
  font-size: 18px;
}

#main-signup {
  display: inline-block;
  width: 430px;
  height: 500px;
  position: absolute;
  top: 60px;
  right: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#main-signup span {
  font-size: 16px;
  color: rgb(43, 49, 55);
}

#main-signup input {
  margin-top: 10px;
  width: 420px;
  height: 50px;
  border-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#main-signup p:first-of-type {
  font-size: 13px;
  padding-top: 10px;
}

#main-signup p:nth-of-type(2) {
  font-size: 13px;
  padding-top: 30px;
}

#main-signup button {
  width: 420px;
  height: 80px;
  background-color: rgb(46, 188, 79);
  border: none;
  border-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#main-signup button span {
  color: white;
  font-size: 18px;
}

footer img {
  float: right;
  width: 400px;
  padding-right: 60px;
}
